---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="container mx-auto px-4 py-8">
		<Header />
		<div class="text-md order-2 flex flex-col items-start gap-2 font-light text-white text-opacity-75 md:order-1 md:w-1/2 xl:gap-4 2xl:text-xl">
			<div class="text-xl">
				<p class="font-semibold tracking-wide text-white text-opacity-75">I'm a Web Designer and  Developer from Tübingen, Germany.
				I mainly use Astro, JS-based languages and Haxe for my projects. This website was made as a reason to learn Astro, show you some of my projects, social media and more. It's still a big WIP tho.
				</p>

			<div class="text-xl; mt-4">
				<p class="font-semibold tracking-wide text-white text-opacity-75">
				I usually have a lot of free time, so I enjoy listening to music. I really like artists like Kendrick Lamar, MF DOOM, Reezy, Violent Vira and Gao the Arsonist.
				</p>
			</div>
			
			<div class="text-xl; mt-4">
				<p class="font-semibold tracking-wide text-white text-opacity-75">
				I own a lot of games. You can view them all on my 
				<a href="https://steamcommunity.com/id/noskipp/" target="_blank" rel="noopener noreferrer" class="text-white underline">steam account.</a>
				Lately, I've been playing a lot of Dota 2, Hades 2 and CS2.
				</p>
			</div>
			
			<div class="text-xl; mt-4">
				<p class="font-semibold tracking-wide text-white text-opacity-75">
				<strong class="text-white">"Spiderman can climb walls and he's got a cool outfit"</strong> - Someone, maybe
				</p>
			</div>
			
			</div>
		</div>
	</main>
</Layout>
