---
const timeZone = "Europe/Berlin";
const currentTime = new Date().toLocaleTimeString("en-US", {
    timeZone,
    hour: "2-digit",
    minute: "2-digit",
    hour12: true,
});

const currentHour = new Date().toLocaleTimeString("en-US", {
    timeZone,
    hour: "2-digit",
    hour12: false,
});

const isNightTime = parseInt(currentHour) < 6;
const message = isNightTime ? "I'm probably asleep." : "";
---

<div class="text-white">
    <p>The time in Germany is {currentTime}. {message}</p>
</div>