---
import { Icon } from 'astro-icon/components';
---

<div class="flex justify-start ml-[-10px]">
  <Icon name="tabler:brand-discord-filled" class="w-6 h-6 mx-2 text-white" />
  <Icon name="tabler:mail-filled" class="h-6 w-6 mx-2 text-white" />
  <Icon name="tabler:brand-twitter-filled" class="h-6 w-6 mx-2 text-white" />
  <Icon name="tabler:brand-github-filled" class="w-6 h-6 mx-2 text-white" />
</div>

